<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /revo-test-html/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /revo-test-html/index.html [L]
</IfModule>