.loaderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f4;
  font-family: sans-serif;
}
.loaderPage h2 {
  font-size: 20px;
  color: #000;
}
